*{
   box-sizing: border-box;
   font-family: 'Asul', sans-serif;
}
.flex-center-center {
  height: 100vh;
  display:flex;
  align-items: center;
  justify-content:center;
}
.flex {
  display:flex;
  align-items: center;
  justify-content:center;
}
.orange {
  color: orange;
}
.margin-auto {
  margin: auto;
}
.opacity {
  opacity: 0.4;
}
.fz-45 {
  font-size: 45px;
}
.relative {
  position: relative;
}
.sobre-texto {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
}


.bg-black {
  background-color: black;
}
hr {
  border: none;
  background-color: orange;
  height: 3px;
}
.main {
  height: 90vh;
}
.pd-35{
  padding: 35px;
}
.input {
  border-radius: 5px;
}
.map {
  height: 40vh;
  border: 3px solid orange;
}
.fz-25 {
  font-size: 25px;
}
.mg-bt-25 {
  margin-bottom: 25px;
}
.mg-bt-15 {
  margin-bottom: 15px;
}
.mg-top-25 {
  margin-top: 25px;
}
.rest {
  color: #fff;
}
.height-25 {
  height: 35vw;
  padding-left: 0;
  padding-right: 0;
}
.mg-left-10 {
  margin-left: 10px;
}

.color-black {
  color: #000;
}
.color-gray {
  color: gray;
  font-family:cursive;
}
.bold-text {
  font-weight: bold;
}
.bloque {
  display: block;
}
.info {
  font-size: 18px;
}
.bg-orange {
  background-color: orange
}
.color-red {
  color: red;
}
.display-none {
  display: none;
}
.mg-rigth-25 {
  margin-right: 25%;
}
.img-rounded {
  border-radius: 6px !important;
}
@media (min-width: 768px) {
  .height-25 {
    height: 15vw;
    padding-left: 0;
    padding-right: 0;
  }
}
