*{
  box-sizing: border-box;
}
.flex-center-center {
  height: 100vh;
  display:flex;
  align-items: center;
  justify-content:center;
}
.orange {
  color: orange;
}
.fz-45 {
  font-size: 45px;
}
.bg-black {
  background-color: #2b2b2b;
}
.main {
  height: 100vh;
}
.pd-35{
  padding: 35px;
}
.map {
  height: 40vh;
  border: 3px solid orange;
}
.fz-25 {
  font-size: 25px;
}
.mg-bt-25 {
  margin-bottom: 25px;
}
.mg-bt-15 {
  margin-bottom: 15px;
}
.mg-top-25 {
  margin-top: 25px;
}
.rest {
  color: #fff;
}
.height-25 {
  height: 25vw;
}
.color-black {
  color: #000;
}
.color-gray {
  color: gray;
  font-family:cursive;
}
.bold-text {
  font-weight: bold;
}
.info {
  font-size: 18px;
}
